@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Roboto:wght@400;700&display=swap");

:root {
  /* FONTS */
  --primary-font: "Playfair Display";
  --secondary-font: "Roboto";
  --major-contrast-weight: 600;
  --medium-contrast-weight: 500;

  /* COLORS */
  --background-color: #fcefef;
  --blue: #6d8ef2;
  --red: #cd4631;
  --green: #7a9b76;
  --yellow: #fcd0a1;
  --gray: #717171;

  --shadow: 5px 5px black;
  --border: 2px solid black;

  --font-size-a: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
  line-height: 1.5;
}

/*=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=- 
            HEADER 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=*/

header {
  /* display: flex; */
  margin: 0.5rem 0.5rem;
  /* flex-direction: column; */
  /* align-items: center; */
}

.upper-note {
  margin: 0 1rem;
  font-size: clamp(0.6rem, 1.5vw + 0.1rem, 1.5rem);
  color: black;
  font-family: var(--secondary-font);
  background-color: white;
  padding: 0.25em;
  width: fit-content;
  box-shadow: var(--shadow);
  border: var(--border);
}

.main-header {
  margin-top: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: clamp(1.9rem, 2vw + 1rem, 30rem);
  font-weight: var(--medium-contrast-weight);
  color: var(--gray);
}

.main-header strong {
  font-size: clamp(2.65rem, 7vw + 1rem, 50rem);
  font-weight: var(--major-contrast-weight);
  color: black;
}

strong span {
  color: var(--blue);
}

.back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
}

header .act-buttons {
  margin-top: 2rem;
}

.act-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.8em;
}

.act-buttons a {
  background-color: var(--red);
  color: white;
  text-decoration: none;
  border: var(--border);
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em;
  font-family: var(--secondary-font);
  font-size: var(--font-size-a);
  box-shadow: var(--shadow);
}

.act-buttons img {
  height: 2ch;
  margin-right: 10px;
}

.act-buttons a:nth-child(1) {
  background-color: var(--red);
  transform: rotate(-0.5deg);
  margin-bottom: 2rem;
}

.act-buttons a:nth-child(2) {
  background-color: var(--green);
  transform: rotate(1deg);
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-
            DOUBT 1
-=-=--=-=-=-=-=-=-=-=-=-=-=-*/

main {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question1 {
  margin: 0 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3rem;
  text-align: center;
}

.question1 p {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
}

.question1 h2 {
  font-size: 1.5rem;
  font-weight: var(--major-contrast-weight);
  text-align: center;
}

.question1 img {
  height: 10rem;
  box-shadow: var(--shadow);
  border: var(--border);
}

/*=-=--=-=-=-=-=-=-=-==-=-=-=-=-==--=-
            DOUBT 2
=-=-==--=--=-=-=-=--=-=-=-=-=-==-=-=-=*/

.question2 {
  margin-top: 6rem;
  padding: 0.5em;
  background-color: var(--blue);
}

.question2 .cards {
  background-color: white;
  margin-top: 2.5rem;
  padding: 1em 0.75em;
  border: var(--border);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-cards {
  padding: 0.5em 0.75em;
}

.question2 h2 {
  background-color: white;
  padding: 0.25em 0.5em;
  border: var(--border);
  box-shadow: var(--shadow);
  font-size: 1.5rem;
  font-weight: var(--major-contrast-weight);
  width: fit-content;
  margin-inline: auto;
}

.question2 h3 {
  margin: 0.85rem 0;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            DOUBT 3
-=-=-=-=-=-=-=-=-=-=-=-=-=--==*/

.question3 {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 6rem;
}

.top {
  background-color: black;
  color: white;
  padding: 0.75em 1em;
  border-radius: 30px 30px 0 0;
}

.top h2 {
  font-size: 1.5rem;
  font-weight: var(--major-contrast-weight);
}

.v-line {
  height: 1px;
  background-color: #b3b3b3;
  margin: 0.5rem 0rem;
}

.question3 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.question3 .text h3 {
  border: var(--border);
  padding: 0.25em 0.5em;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.question3 .text:nth-child(2) h3,
.question3 .text:nth-child(6) h3,
.question3 .text:nth-child(10) h3 {
  background-color: var(--yellow);
}

.question3 .text:nth-child(4) h3,
.question3 .text:nth-child(8) h3 {
  background-color: white;
}

.question3 .text p {
  padding: 0 1em;
  text-align: center;
}

.question3 .h-line {
  height: 1px;
  margin: 0 1em;
  background-color: #b3b3b3;
  margin-top: 4rem;
}

.question3 .act-buttons {
  margin-top: 3rem;
}

/*-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-
            LAST WORK SEC
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=*/

.last-work {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}

.last-work h2 {
  font-size: 3rem;
  font-weight: var(--major-contrast-weight);
  text-align: center;
}

.last-work .logo img {
  width: 100%;
}

.logo {
  background-color: #06626f;
  padding: 2.5em;
  margin: 1.5rem 0;
  border: var(--border);
  box-shadow: var(--shadow);
}

.last-work .options {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.last-work .options a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  text-decoration: none;
  font-family: var(--secondary-font);
  border: var(--border);
  box-shadow: var(--shadow);
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
}

.last-work .options a:nth-child(1) {
  background-color: white;
  margin-bottom: 1rem;
}

.last-work .options a:nth-child(2) {
  background-color: var(--blue);
}

.last-work .options img {
  width: 30%;
  margin-right: 7%;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            GUARANTEES
-=-=-=-=-=-=-=-=-=-=-=-=-==-==*/

.guarantees {
  margin-top: 6rem;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.guarantees h2 {
  font-size: 3rem;
  font-weight: var(--major-contrast-weight);
  background-color: white;
  border: var(--border);
  box-shadow: var(--shadow);
  width: min-content;
  padding: 0.25em 0.5em;
  flex-shrink: 0;
}

.guarantees-title {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
  width: 100%;
}

.after-line,
.before-line {
  height: 5px;
  background-color: black;
}

.after-line {
  width: 100%;
}

.before-line {
  width: 100%;
}

.guarantees .blocks {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.guarantees .card {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
  background-color: white;
  border: var(--border);
  box-shadow: var(--shadow);
  padding: 1em;
}

.guarantees .blocks img {
  width: 30%;
}

.guarantees .card h3 {
  margin: 1.5rem 0;
  font-size: 1.75rem;
  font-weight: var(--major-contrast-weight);
}

.guarantees .act-buttons {
  margin-bottom: 2rem;
}

/*-=-=--=-=-=-=-=-=-=-=-=-=-=-=
            PROCESS
-=-=-=-==-=-==-=--=--=-=-=-=-=-*/

.process {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}

.process h2 {
  font-size: 3rem;
  font-weight: var(--major-contrast-weight);
  background-color: white;
  padding: 0.25em 0.5em;
  border: var(--border);
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.process .step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process .number {
  margin-top: 2rem;
  font-family: var(--secondary-font);
  font-size: 5rem;
  font-weight: 700;
}

.process .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.process h3 {
  font-size: 1.55rem;
  background-color: var(--yellow);
  border: var(--border);
  box-shadow: var(--shadow);
  padding: 0.25em 0.5em;
  margin-bottom: 1rem;
}

/*=-=--==-=-=-=-=-=-=-=-=-=-=--
            EMAIL FORM
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.send-email {
  margin-top: 6rem;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5em;
}

.send-email h2 {
  font-size: 3rem;
  font-weight: var(--major-contrast-weight);
  margin-top: 2rem;
  background-color: white;
  padding: 0.25em 0.5em;
  border: var(--border);
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
  text-align: center;
}

.send-email form {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-bottom: 0.5em;
  margin-inline: auto;
}

.send-email form label {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.send-email form input,
.send-email form textarea {
  border: 3px solid black;
  font-family: var(--secondary-font);
  outline: none;
  padding: 0.25em 0.5em;
}

.send-email form button {
  width: min-content;
  border-radius: 0;
  background-color: white;
  border: var(--border);
  box-shadow: var(--shadow);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-inline: auto;
  padding: 0.25em 0.5em;
}

.send-email .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letters {
  width: 80%;
  margin-top: 1rem;
  border: var(--border);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1em;
}

.info h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 400;
  border: var(--border);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  padding: 0.25em 0.5em;
}

.info {
  padding: 0 0.25em;
  margin-top: 2rem;
}

.info h3:nth-child(1) {
  background-color: var(--red);
}

.info h3:nth-child(2) {
  background-color: var(--green);
  margin-top: 2rem;
  width: fit-content;
}

.info h3 img {
  height: 2ch;
  filter: invert(100%);
  margin-right: 5px;
}

/*-=-=-=-=-=-=-=-==-==-=-==-=-=-=-=
            FAQ
-=-=-=-=-=-=-=-==-=-==-==-=-=-=-=-=*/

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  padding: 1em;
  margin-bottom: 3.5rem;
}

.faq h2 {
  font-size: 3rem;
  font-weight: var(--major-contrast-weight);
  margin-bottom: 2rem;
}

.faq h3 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1rem;
}

.faq-question {
  margin: 0 auto;
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.25em 0.5em;
  width: 100%;
  border: var(--border);
}

.question {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.answer {
  overflow: hidden;
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  padding: 0.25em 0;
  color: black;
  display: none;
}

.plus,
.minus {
  width: 1.25rem;
  flex-shrink: 0;
}

.minus {
  display: none;
}

.question-active img {
  transform: rotate(180deg);
}

.question-active .question {
  background-color: var(--yellow);
}

.question-active .answer {
  display: block;
  background-color: var(--yellow);
}

.question-active {
  background-color: var(--yellow);
}

.question-active .minus {
  display: block;
}

.question-active .plus {
  display: none;
}

/*-=-=-=-=-=-=-=-=-=-==-=-=-
            FOOTER
=-=-=-=-=-=-=-=-===-=-=-=-==*/

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-family: var(--secondary-font);
}

@media (min-width: 32.5em) {
  :root {
    --font-size-a: 1.4rem;
  }

  .act-buttons a:nth-child(1) {
    margin-bottom: 0;
    margin-right: 5%;
    transform: rotate(-1deg);
  }

  .act-buttons a:nth-child(2) {
    transform: rotate(2deg);
  }

  .question2 .cards {
    width: min(60%, 30rem);
  }

  .reason-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .last-work .options {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .last-work .options a:nth-child(1) {
    margin-bottom: 0;
  }

  .guarantees .act-buttons {
    width: 100%;
  }

  .faq-question {
    width: 90vw;
  }
}

@media (min-width: 65.625em) {
  :root {
    --font-size-a: clamp(1.5rem, 1vw + 1rem, 2.5rem);
    --shadow: 10px 10px black;
    --border: 3px solid black;
    --font-size-p: clamp(.75rem, 1vw + .35rem, 2.5rem);
    --margin-left-right: min(6rem, 2%);
    --font-size-question: 1.75rem;
    --margin-top: 10rem;
    --font-size-big-screen: 3.5rem;
  }

  .act-buttons {
    padding: 1.2em;
  }
  
  .question1 {
    justify-content: space-between;
    margin-top: var(--margin-top);
    padding-bottom: 1rem;
  }

  .question1 article {
    max-width: 50%;
    text-align: start;
    margin-left: var(--margin-left-right);
  }

  .question1 img {
    margin-right: var(--margin-left-right);
  }

  .question1 h2,
  .question1 p {
    text-align: start;
  }
  
  .question1 h2 {
    font-size: var(--font-size-question);
  }

  .question2 {
    width: 100%;
  }

  .question2 h2 {
    font-size: var(--font-size-question);
  }

  .reason-cards {
    flex-wrap: wrap;
    align-items: inherit;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .reason-cards .cards {
    margin-left: 2.5rem;
  }

  .reason-cards h3 {
    font-size: var(--font-size-p);
  }

  .reason-cards p {
    font-size: 1rem;
  }

  .question3 h2 {
    font-size: var(--font-size-question);
    width: 50%;
  }

  .question3 .text h3 {
    font-size: 2.5rem;
  }

  .question3 {
    margin-top: var(--margin-top);
    margin-inline: 3rem;
  }

  .question3 .text {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 12rem;
  }

  .question3 .text p {
    width: 48ch;
    text-align: start;
    font-size: var(--font-size-p);
  }

  .question3 .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
  }

  .question3 .top p {
    font-size: var(--font-size-p);
    max-width: 50ch;
  }

  .question3 .v-line {
    height: 10rem;
    margin: 0;
    width: 2px;
  }

  .last-work {
    margin-top: var(--margin-top);
  }

  .last-work h2 {
    font-size: var(--font-size-big-screen);
  }

  .last-work .logo {
    padding: 6em 8em;
    margin: 6rem 0;
  }

  .last-work .options a {
    font-size: 2.5rem;
  }

  .guarantees {
    margin-top: var(--margin-top);
    width: 100%;
  }

  .guarantees-title {
    margin-top: 3rem;
  }

  .guarantees h2 {
    font-size: var(--font-size-big-screen);
  }

  .guarantees .before-line {
    width: 5%;
  }

  .guarantees .blocks {
    margin-top: 2rem;
    width: 90%;
    flex-direction: row;
    align-items: unset;
    justify-content: space-evenly;
  }

  .guarantees .card h3 {
    font-size: 1.75rem;
    margin-top: 1.625rem;
    margin-bottom: 2.625rem;
  }

  .blocks p {
    font-size: var(--font-size-p);
    width: 25ch;
  }

  .blocks .card {
    width: 20rem;
    padding: 1.5em;
  }

  .guarantees .act-buttons {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .process {
    margin-top: var(--margin-top);
    width: 100%;
  }

  .process h2 {
    font-size: var(--font-size-big-screen);
    align-self: flex-start;
    margin-left: var(--margin-left-right);
    margin-bottom: 4.5rem;
  }

  .process h3 {
    font-size: 2.5rem;
    padding: 0.1em 0.2em;
    margin-bottom: 1rem;
  }

  .process p {
    font-size: var(--font-size-p);
    font-weight: 700;
  }

  .process .step {
    margin-bottom: 3rem;
    flex-direction: row;
  }

  .process .text {
    align-items: flex-start;
    max-width: 60ch;
    text-align: left;
  }

  .process .number {
    font-size: 6rem;
    margin-right: 1.5rem;
  }

  .send-email {
    margin-top: var(--margin-top);
  }

  .send-email h2 {
    font-size: var(--font-size-big-screen);
  }

  .send-email .email-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .send-email form {
    max-width: 30%;
    margin-right: 0;
    margin-left: 3rem;
  }

  .send-email form label,
  .send-email form button {
    font-size: 1.5rem;
  }

  .send-email input,
  .send-email textarea {
    font-size: var(--font-size-p);
    margin-top: .5rem;
    margin-bottom: .8rem;
  }

  .send-email form button {
    margin-inline: unset;
  }

  .info {
    width: 50%;
    margin-right: 3rem;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-right: 1em;
  }

  .info h3 {
    font-size: 1.5rem;
  }

  .info h3:nth-child(2) {
    margin-bottom: 0;
  }

  .contact-container {
    align-self: flex-start;
    padding: 0.5em;
    align-items: flex-start;
  }

  .letters {
    width: 100%;
    align-self: flex-end;
  }

  .faq {
    margin-top: 6rem;
  }

  .faq h2 {
    font-size: var(--font-size-big-screen);
  }

  .faq-question {
    margin-bottom: 2%;
    padding: 1.2em 1em;
  }

  .question h3 {
    font-size: 1.5rem;
  }

  .answer p {
    font-size: var(--font-size-p);
  }

  footer {
    font-size: var(--font-size-p);
  }
}


@media (min-width: 100em) {
  :root {
    --font-size-big-screen: 6rem;
    --margin-left-right: 6rem;
    --margin-top: 12rem;
    --font-size-question: 3rem;
  }

  .upper-note {
    margin-bottom: 7.5%;
    margin-left: 6rem;
    margin-top: 1rem;
  }

  header .act-buttons {
    margin-top: 7rem;
  }

  .question1 {
    width: 100%;
  }

  .question1 article p {
    font-size: var(--font-size-p);
    max-width: 55ch;
    margin-top: 1rem;
  }

  .question1 img {
    height: 21rem;
  }


  .question2 h2 {
    margin: 2rem auto;
  }


  .question3 .text h3 {
    font-size: 3.655rem;
  }

  .question3 {
    margin-top: var(--margin-top);
    margin-inline: 6rem;
  }

  .question3 .text {
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 20rem;
  }

  .question3 .top {
    padding: 2em 3em;
  }

  .last-work .logo {
    padding: 8em 10em;
  }

  .last-work .options a {
    font-size: 3.5rem;
  }

  .guarantees .blocks {
    margin-top: 5rem;
  }

  .guarantees .card h3 {
    font-size: 2.625rem;
    margin-top: 1.625rem;
    margin-bottom: 2.625rem;
  }

  .blocks .card {
    width: max(25%, 28rem);
    padding: 2em;
  }

  .guarantees .act-buttons {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .process h2 {
    margin-left: 6rem;
    margin-bottom: 6rem;
  }

  .process h3 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .process .step {
    margin-bottom: 4rem;
  }

  .process .text {
    max-width: 72ch;
  }

  .process .number {
    font-size: 9.5rem;
    margin-right: 2rem;
  }

  .send-email .email-container {
    margin-bottom: 3rem;
  }

  .send-email form {
    max-width: 25%;
    margin-left: 6rem;
  }

  .send-email form label,
  .send-email form button {
    font-size: 2.25rem;
  }

  .send-email input,
  .send-email textarea {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }


  .info {
    width: 55%;
    margin-right: 6rem;
  }

  .info h3 {
    font-size: 2.25rem;
  }

  .question h3 {
    font-size: 2.25rem;
  }

}
